<!DOCTYPE html>
<html>
  <head>
    <title>Vue.js tim example</title>
    <script src="../../../dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Test All</h1>
    </div>
  </body>
</html>


<script>

Vue.component('TimSpan', {
  data() {
    return {
      msg: 'A'
    }
  },
	template: `<span>
    <div v-if="msg === 'A'">div</div>
    <li v-if="msg !== 'A'">li</li>
    </span>`,
  mounted() {
    // setTimeout(() => {
    //   this.msg = 'A变了';
    // }, 1000);
  },
})

Vue.component('TimDiv', {
	template: `<div>
    组件Div
    <TimSpan></TimSpan>
    {{this.width}}
  </div>`,
  props: {
    width: {
      type: String | Number,
      default: '50',
      required: false,
    },
  }
})


var vm = new Vue({
  data() {
    return {
      name: 'Tim',
      outerWidth: 100,
    }
  },
  methods: {
    foo() {
      console.log('foo')
    }
  },
  render: function(h){
    return h(
      'div',
      {
        attrs: {
          id: 'foo'
        },
      },
      [
        '一行文字',
        h('h1', this.name),
        h(
          'TimDiv',
          {
            props: {
              width: this.outerWidth
            },
          }
        ),
      ]
    )
  }
})

vm.$mount('#app');

setTimeout(() => {
  // vm.name = 'L';
  vm.outerWidth = 999
}, 1000);


// console.log('vm:', vm)
// console.log('Vue.prototype:', Vue.prototype)
// console.log('Vue:', Object.entries(Vue))
</script>
